name: tests
on: push
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: denoland/setup-deno@v1
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          check-latest: true
          cache: true
      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: golangci/golangci-lint-action@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: ai-action/setup-ollama@v1
      - run: ollama pull llama3.2:latest
      - name: Task
        run: task
      - name: Test
        run: task test